extends _controller_layout

mixin GAME(gID)
    li.list-group-item.bg-light.py-4
        h3 Game !{gID[1]}
        .row.mb-3
            .col
                .form-floating
                    select.form-select(id=gID+"-away" name=gID+"-away")
                        +TEAMS_DROPDOWN
                    label(for=gID+"-away") Away Team
            
            .col-2
                .form-floating
                    input.form-control(id=gID+"-away-score" type="text" placeholder="Score" name=gID+"-away-score")
                    label(for=gID+"-away-score") Away Score

            .col-2.text-center
                if gID == "g1"
                    input.btn-check(id=gID+"-active-game" type="radio" name="active-game" value=gID checked="")
                else
                    input.btn-check(id=gID+"-active-game" type="radio" name="active-game" value=gID)
                label.btn.btn-outline-dark.w-100.h-100(for=gID+"-active-game")
                    h5.mt-2.mb-0 Active

        .row
            .col
                .form-floating
                    select.form-select(id=gID+"-home" name=gID+"-home")
                        +TEAMS_DROPDOWN
                    label(for=gID+"-home") Home Team

            .col-2
                .form-floating
                    input.form-control(id=gID+"-home-score" type="text" placeholder="Score" name=gID+"-home-score")
                    label(for=gID+"-home-score") Home Score

            .col-2.text-center
                input.btn-check(id=gID+"-done" type="checkbox" name=gID+"-done" value=gID)
                label.btn.btn-outline-dark.w-100.h-100(for=gID+"-done")
                    h5.mt-2.mb-0 Done


append main
    h1.mb-3 Games Today
        button.btn.btn-outline-secondary.ms-3(type="button" onclick="updateGames()") UPDATE

    form
        ul.list-group
            +GAME("g1")
            +GAME("g2")
            +GAME("g3")
            +GAME("g4")
            +GAME("g5")


append scripts
    script.
        function updateGames() {
            let games = {
                active: document.forms[0]["active-game"].value,
                games: {
                    g1: {
                        done: document.forms[0]["g1-done"].checked,
                        away_team: document.forms[0]["g1-away"].value,
                        home_team: document.forms[0]["g1-home"].value,
                        away_team_score: document.forms[0]["g1-away-score"].value,
                        home_team_score: document.forms[0]["g1-home-score"].value,
                    },
                    g2: {
                        done: document.forms[0]["g2-done"].checked,
                        away_team: document.forms[0]["g2-away"].value,
                        home_team: document.forms[0]["g2-home"].value,
                        away_team_score: document.forms[0]["g2-away-score"].value,
                        home_team_score: document.forms[0]["g2-home-score"].value,
                    },
                    g3: {
                        done: document.forms[0]["g3-done"].checked,
                        away_team: document.forms[0]["g3-away"].value,
                        home_team: document.forms[0]["g3-home"].value,
                        away_team_score: document.forms[0]["g3-away-score"].value,
                        home_team_score: document.forms[0]["g3-home-score"].value,
                    },
                    g4: {
                        done: document.forms[0]["g4-done"].checked,
                        away_team: document.forms[0]["g4-away"].value,
                        home_team: document.forms[0]["g4-home"].value,
                        away_team_score: document.forms[0]["g4-away-score"].value,
                        home_team_score: document.forms[0]["g4-home-score"].value,
                    },
                    g5: {
                        done: document.forms[0]["g5-done"].checked,
                        away_team: document.forms[0]["g5-away"].value,
                        home_team: document.forms[0]["g5-home"].value,
                        away_team_score: document.forms[0]["g5-away-score"].value,
                        home_team_score: document.forms[0]["g5-home-score"].value,
                    }
                }
            }

            $.post('/overlay/settings/games-today', games, (data, status) => {
                Toast.fire({
                    icon: status=="success"?"success":"warning",
                    title: status=="success"?"Saved!":"Error while saving"
                });
            })
        }
